{% extends "children/base.html" %}
{% block content %}
    <h1>Screen Records</h1>
    <h6>
        <a href="{% url 'child-records-years'%}">all</a>
                -> <a href="{% url 'child-records-months' year %}">year: {{ year }}</a>
                    -> <a href="{% url 'child-records-days' year month %}">month: {{ month }}</a>
                        -> <a href="{% url 'child-records-hours' year month day %}">day: {{ day }}</a>
        -> <b>{{ hour }}:--</b>
    </h6>
    {% for record in records %}
        <h6>{{ record.writeTime }}</h6>
        <video width="400" controls>
            <source src="/media/{{record.record}}" type="video/mp4">
            your browser doesn't support the video tag
        </video>
        <hr/>
    {% endfor %}
{% endblock content %}